{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon-32x32.png' %}"/>
  <title>NLRent</title>
</head>

<body style = "margin: 0">
	<div style="background-color:#7ea4b3;">
		<header>
			<h1 style="text-align:center; margin-top: 0; padding: 1%">NLRent Official Website™</h1>
		</header>
	</div>
	<div id="api" style="text-align:center; min-height: 76vh; max-height: 76vh; overflow:scroll;">
	</div>
	<div style="text-align:right; width:100vw; background-color:#7ea4b3; position:absolute; right:0; bottom:0; margin:0; padding: 1vh;">
		<p style="font-weight: bold;">Web Engineering 2021-2022</p>
		<p style="font-weight: bold;">Group 40</p>
		<p style="font-style: italic;">Aidan Adelaar, Khanak Gulati & Julius van Timmeren</p>
	</div>
</body>
<script src="{% static "frontend/main.js" %}"></script>
</html>
