<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Properties</title>
    </head>

    <body>
        <div>
            {% if properties is not None %}
                {% for property in properties %}
                    externalID: {{property.externalID}}<br>
                    city: {{property.city}}<br>
                    longitude: {{property.longitude}}<br>
                    latitude: {{property.latitude}}<br>
                    rent: {{property.rent}}<br>
                    areaSqm: {{property.areaSqm}}<br>
                    isRoomActive: {{property.isRoomActive}}<br>
                    <a href="{% url 'update_property' id=property.externalID %}">Update Property</a>
                    <a href="{% url 'delete_property' id=property.externalID %}">Delete Property</a><br><br>
                {% endfor %}
            {% else %}
                No properties match the search criteria.
            {% endif %}
        </div>
    </body>
</html>